////////////////////
// INDEX //
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #1e0032;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  // Color scheme
  --colorLight: white;
  --colorDark: black;
  --colorHeader1: rgba(182, 70, 163, 1);
  --colorHeader2: rgba(105, 56, 143, 1);
  --colorBackgroundCard: #23377a;
  --colorTitleCard: #747bff;

  #root {
    //max-width: 1280px;
    width: calc(100% - 5px);
    //margin: 0 auto;
    //padding: 2rem;
    //text-align: center;
  }
}

body {
  margin: 0;
  display: flex;
  //place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;

  &:hover {
    border-color: #646cff;
  }

  &:focus {
    outline: 4px auto -webkit-focus-ring-color;

    &:focus-visible {
      outline: 4px auto -webkit-focus-ring-color;
    }
  }
}

#background {
  background-image: url("../assets/ntiPush.Jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  filter: blur(10px);
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -9999;
}

///////////////////
/// Container ///
#container {
  display: flex;
  overflow: hidden;
}

///////////////////
// Header //
#header {
  background: radial-gradient(
    circle,
    var(--colorHeader1) 0%,
    var(--colorHeader2) 50%
  );
  border-right: 4px solid white;
  align-items: center;
  width: 230px;
  min-height: 962px;
  height: 100vh;

  //position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  user-select: none;
  img {
    width: 75%;
    margin: 25px;
    filter: invert(100%);
  }

  #BottomHeader {
    width: 25%;
    margin: 10px;
    align-self: flex-end;
  }
  #TopHeader {
    text-align: center;
    h3 {
      &:hover {
        cursor: pointer;
      }
    }
  }
}

///////////////////
/// Body ///
#main {
  margin-top: 2em;
  text-align: center;
  width: 100%;
  margin-left: 60px;

  max-height: 100vh;
}

///////////////////
/// ClassSelect ///
#classSelect {
  width: 210px;
  height: calc(auto + 15px);

  ul {
    text-align: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  li {
    width: 100px;
    height: 25px;
    padding: 10px;
    margin: auto;
    &:hover {
      cursor: pointer;
      background-color: #1a1a1a;
      border-radius: 10px;
    }
  }

  h1 {
    text-align: center;
  }

  .bold {
    font-weight: bold;
    font-size: larger;
    text-decoration: underline;
  }

  #selected {
    background-color: #747bff;
    border-radius: 10px;
  }
}

///////////////////
/// ClassDisplay ///
#classDisplay {
  #groupDisplay {
    display: grid;
    // grid template columns is set in GroupDisplay and should depend on how many groups there are.
    grid-gap: 10px;
  }
}

///////////////////
/// GroupCard ///
#card {
  margin-inline: auto;
  width: 330px;
  min-height: 400px;
  background-color: var(--colorBackgroundCard);

  border-radius: 25px;

  #title {
    margin: 0;
    font-size: 1.5em;
    background-color: var(--colorTitleCard);
  }
  .group {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    padding: 10px;
  }

  .student {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 150px;
    box-sizing: border-box;
    .img {
      width: 100px;
      height: 100px;
      border-radius: 50%;
    }

    .name {
      margin-top: 15px;
    }
  }
}

#groupleader {
  border-radius: 50px;
  border: 2px solid gold;
  .name {
    border: none;
  }
}
#group3 {
  #card {
    width: 400px;

    .student {
      width: 200px;
      height: 200px;
    }
    .group {
      gap: 0px;
      padding: 0px;
    }
  }
}

#group7 {
  #card {
    width: 330px;

    .student {
      width: 150px;
      height: 150px;
    }
  }
}
